/* <link rel="stylesheet" href="css/main.css"> */
html, body {
    margin: 0;
    padding: 0;
    font-family: var(--roboto);
    overflow: hidden;
}

:root {
    /* FONTS */
    --roboto: 'Roboto', sans-serif;     /* <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> */
    --bangers: 'Bangers', cursive;      /* <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet"> */
    --ranchers: 'Ranchers', cursive;    /* <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet"> */
    --hyeon: 'Do Hyeon', sans-serif;    /* <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet"> */
    /* COLORS (https://flatuicolors.com/palette/gb) */
    --blue: #0097e6;
    --blue2: #00a8ff;
    --purple: #8c7ae6;
    --purple2: #9c88ff;
    --yellow: #e1b12c;
    --yellow2: #fbc531;
    --green: #44bd32;
    --green2: #4cd137;
    --naval: #40739e;
    --naval2: #487eb0;
    --red: #c23616;
    --red2: #e84118;
    --white: #dcdde1;
    --white2: #f5f6fa;
    --grey: #718093;
    --grey2: #7f8fa6;
    --pico: #192a56;
    --pico2: #273c75;
    --black: #2f3640;
    --black2: #353b48;
    /* BACKGROUND */
    --bc: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%);
}

main {
    background: var(--bc), var(--pico);
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

