                                        /* GENERAL */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --bleu1: #3498db;
    --bleu2: #2980b9;
    --rouge1: #e74c3c;
    --rouge2: #c0392b;
}

                                        /* MENU BURGER */

.boutonBurger {
    position: fixed;
    top: 10px;
    right: 20px;
    /* border: 1px solid #fff; */
    z-index: 25;
    width: 40px;
    height: 40px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.span1 {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    top: 8px;
    transition-duration: 0.5s;
}
.span2 {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    top: 18px;
    transition-duration: 0.5s;
}
.span3 {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    top: 28px;
    transition-duration: 0.5s;
}

.span1Open {
    transform: rotate(-45deg);
    top: 16px;
}
.span2Open {
    display: none;
}
.span3Open {
    transform: rotate(45deg);
    top: 16px;
}

.menuBurger {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bleu2);
    z-index: 20;
    transition-duration: 0.5s;
}
.menuBurgerOpen {
    left: 0;
}

.menuBurger>a {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    margin: 20px 0 20px 0;
}
.menuBurger>a:hover {
    text-decoration: underline;
}

                                        /* HEADER */

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--bleu2);
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav>a {
    text-decoration: none;
    color: #fff;
    margin-right: 40px;
}
nav>a:hover {
    text-decoration: underline;
}

                                        /* MAIN */

main {
    min-height: 100vh;
}

                                        /* ACCUEIL */

#accueil {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-225deg, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.4) 50%), url('../images/fond-route2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#accueil>h1 {
    color: #fff;
    text-align: center;
    font-size: 4.5em;
    text-shadow: 0 0 20px #000;
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
}

#accueil>p {
    color: #fff;
    text-align: center;
    margin-top: -40px;
    text-shadow: 0 0 10px #000;
}

.bouton {
    width: 100px;
    height: 50px;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.bouton>a {
    text-decoration: none;
    color: #fff;
    background-color: var(--bleu2);
    padding: 10px;
    box-shadow: 4px 4px 4px #000;
    border-radius: 5px;
}
.bouton>a:hover {
    padding: 12px;
    font-size: 1.1em;
    box-shadow: 5px 5px 4px #000;
}
.bouton>a:active {
    padding: 9px;
    font-size: 0.9em;
    box-shadow: 3px 3px 4px #000;
}

/* PRESENTATION */

#presentation {
    height: 50vh;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: var(--bleu2);
    color: #fff;
}

                                        /* RESPONSIVE */

@media screen and (max-width: 1200px) {
    .boutonBurger {
        display: flex;
    }

    nav {
        display: none;
    }

    #accueil>h1 {
        font-size: 3.5em;
    }

    #accueil>p {
        margin-top: -30px;
    }
}