html, body {
    font-family: 'Roboto', sans-serif;
    --bleu1: #192a56;
    --bleu2: #273c75;
    --jaune: #e1b12c;
    --noir: #2f3640;
    --bleu-nuit1: #333845;
    --bleu-nuit2: #2a3357;
}

                                                            /* HEADER / NAV */

header {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #fff;
    display: flex;
    box-shadow: 0 4px 4px #000;
    z-index: 2;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #000;
}

.nav1 {
    width: 20%;
}

.nav1>a {
    color: #000;
    font-family: 'Bangers', sans-serif; 
    font-size: 2em;
    margin-left: 40px;
}

.nav2 {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav2>a {
    margin: 0 20px 0 20px;
}

.nav2>a:hover {
    text-decoration: underline;
}

.nav3 {
    width: 20%;
}

.boutonBurger {
    position: fixed;
    top: 13px;
    right: 10px;
    z-index: 15;
    width: 30px;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    /* border: 1px solid #000; */
}

.boutonBurger>span {
    background-color: #000;
    width: 100%;
    height: 4px;
}


/* MAIN */

#mainAccueil {
    background: linear-gradient(-225deg, rgba(25, 42, 86, 0.5) 30%, rgba(39, 60, 117, 0.6) 80%), url("../images/laptop.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainPresentation {
    background: linear-gradient(-225deg, rgba(25, 42, 86, 0.5) 30%, rgba(39, 60, 117, 0.6) 80%), url("../images/laptop.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerMain {
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    /* border: 1px solid #fff; */
}

.containerMain>h1 {
    font-size: 3em;
}

                                                            /* SOMMAIRE */

.sommaire {
    min-height: 50vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

.containerSommaire {
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid #000; */
}

.elementSommaire {
    width: 300px;
    height: 300px;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.esImage {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5em;
}

.esImage>a {
    text-decoration: none;
    color: #000;
}

.esTexte {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.boutonTitre {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 75px;
}

.boutonTitre>a {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2196F3;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #000;
    font-size: 1.5em;
}

.boutonTitre>a:hover {
    padding: 12px;
    font-size: 1.6em;
    box-shadow: 5px 5px 4px #000;
}

.sommaire2 {
    width: 100%;
    min-height: 40vh;
    background: linear-gradient(110.51deg,#3223AE 0%,#d0656f 95.05%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sommaire2Texte {
    width: 30%;
    height: 95%;
    /* border: 1px solid #fff; */
    color: #fff;
    margin-right: 10px;
}

.bouton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    height: 40px;
    margin: 40px 0 10px 0;
}

.bouton>a {
    color: #fff;
    text-decoration: none;
    background-color: #44bd32;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #000;
}

.bouton>a:hover {
    padding: 11px;
    font-size: 1.1em;
    box-shadow: 5px 5px 4px #000;
}

.sommaire2Image {
    width: 30%;
    height: 95%;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.sommaire2Image>img {
    width: 300px;
    transform: rotate(5deg);
    box-shadow: 4px 4px 4px #000;
}

.sommaire2Image>img:hover {
    width: 310px;
    box-shadow: 5px 5px 4px #000;
}

/* PRESENTATION1 */

#presentation1 {
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

                                                            /* FOOTER */

footer {
    min-height: 20vh;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #000;
}

.footer1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #fff; */
    width: 33%;
    height: 98%;
}

.footer1 a {
    text-decoration: none;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer1 a:hover {
    text-decoration: underline;
}

.footer2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid #fff; */
    width: 33%;
    height: 98%;
}

.reseaux {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 90%;
    /* border: 1px solid #fff; */
}

.reseaux>a {
    text-decoration: none;
    color: #000;
    font-size: 2.5em;
}

.footer2 p {
    color: #000;
}

.footer3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #fff; */
    width: 33%;
    height: 98%;
}

.footer3 p {
    color: #000;
    /* border: 1px solid #fff; */
    margin-bottom: -10px;
}

.footer3 a {
    text-decoration: none;
    color: #000;
    margin-top: 40px;
}

.footer3 a:hover {
    text-decoration: underline;
}


                                                            /* RESPONSIVE */

/* 1200px */
@media screen and (max-width: 1200px) {
    
}

/* 1024px */
@media screen and (max-width: 1024px) {
    .nav1 {
        width: 80%;
    }
    .nav1>a {
        font-size: 1.9em;
    }
    .nav2 {
        display: none;
    }
    .boutonBurger {
        display: flex;
    }

    .sommaire2 {
        flex-direction: column;
        justify-content: space-around;
        min-height: 75vh;
    }

    .sommaire2Texte {
        width: 90%;
        text-align: center;
    }
    .bouton {
        margin: auto;
        margin-top: 40px;
    }
    .sommaire2Image {
        width: 90%;
    }

    footer {
        flex-direction: column;
    }
    .footer1 {
        display: none;
    }
    .footer2 {
        height: 98%;
        width: 75%;
    }
    .footer2>span {
        margin-top: 20px;
    }
    .reseaux {
        justify-content: center;
    }
    .reseaux a {
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer3 {
        height: 50%;
        width: 75%;
    }
    .footer3 a {
        margin-bottom: 40px;
    }
}

/* 600px */
@media screen and (max-width: 600px) {
    .containerMain>h1 {
        font-size: 2.5em;
    }
    .containerMain>p {
        font-size: 0.9em;
    }
}