                                                            /* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--roboto);
    color: #555;
    scroll-behavior: smooth;
}

ul, nav {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}
a:hover {
    opacity: 1;
    font-weight: bold;
}

:root {
    /* FONTS */
    --roboto: 'Roboto', sans-serif;     /* <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> */
    --quicksand: 'Quicksand', sans-serif;   /* <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    /* COLORS (https://flatuicolors.com/palette/gb) */
    --blue: #0097e6;
    --green: #44bd32;
    --red: #c23616;
    /* BACKGROUND */
    --bc: linear-gradient(rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3) 50%);
}

                                                            /* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 75px;
    transition-duration: 0.3s;
}

header h2 {
    font-family: var(--quicksand);
}
header a {
    color: #fff;
}

nav ul {
    display: flex;
}

nav li {
    margin: 0 15px;
}

@media screen and (max-width: 1000px) {
    header {
        flex-direction: column;
    }
    header h2 {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 600px) {
    .boutonBurger {
        display: flex;
    }
    header {
        display: none;
    }

    nav {
        display: none;
    }
}

                                                            /* ACCUEIL */

#accueil {
    width: 100%;
    height: 100vh;
    background: var(--bc), url(../images/odet_grand.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    overflow: hidden;
}

#accueil h1 {
    color: #f1f1f1;
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--quicksand);
    font-size: 4em;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
}

#accueil p {
    color: #f1f1f1;
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5em;
}

.bouton {
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* border: 1px solid #fff; */
}
.bouton a {
    background-color: var(--blue);
    color: #f1f1f1;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1000px) {
    #accueil {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    #accueil h1 {
        font-size: 3em;
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        /* border: 1px solid #fff; */
        display: flex;
        justify-content: center;
    }
    #accueil p {
        font-size: 1.2em;
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
    }
    .bouton {
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
    }
}

@media screen and (max-width: 600px) {
    #accueil h1 {
        text-align: center;
        font-size: 2em;
    }
    #accueil p {
        font-size: 1em;
    }
}

                                                            /* PORTFOLIO */

#portfolio {
    min-height: 100vh;
    position: relative;
}

.panneau {
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid var(--red);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-weight: bold;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    transition-duration: 0.5s;
    z-index: 10;
}

.panneauOpen {
    left: 50%;
}

.panneau a {
    text-decoration: none;
    color: #fff;
    background-color: var(--green);
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

#portfolio h2 {
    width: 100%;
    text-align: center;
    padding: 120px 0;
    font-family: var(--quicksand);
}

.container-portfolio {
    width: 60%;
    /* border: 1px solid #000; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.carte-portfolio {
    width: 250px;
    height: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px 0;
}

.carte-portfolio img {
    width: 100%;
    height: 50%;
}

.carte-portfolio h3 {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--quicksand);
    /* border: 1px solid #000; */
}

.carte-portfolio hr {
    width: 50%;
}

.carte-portfolio p {
    width: 100%;
    height: 20%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carte-portfolio a {
    width: 100%;
    height: 20%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

@media screen and (max-width: 600px) {
    .container-portfolio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
    }
    .carte-portfolio {
        grid-column-start: 2;
    }

    .panneau {
        width: 95%;
        top: 90%;
    }
}